body {
    display: flex;
    font-family: 'Montserrat', sans-serif;
    color: #333;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

main {
    flex: 1;
    padding: 40px;
    background-color: #f9f9f9;
}

main h1, main h2 {
    text-align: center;
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 20px;
    color: #2c3e50;
}

main p, p {
    text-align: justify;
    font-size: 1.2rem;
    line-height: 1.8;
    margin-bottom: 20px;
    padding: 0 10%;
}